# Dependencies
dependencies/

# Example
example/hello-world

# Doxygen
html/

# Meson
bld*/

# Patch
*.orig
*.rej

# Sublime Text
*.sublime-*

# Vim
*.swp

# Visual Studio Code
.vscode/
benchmark_results.csv
prometheus_metrics.txt
benchmark_csv/*
benchmark_metrics.txt
